#messageBox {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  animation: show-message .5s;
  -webkit-animation: show-message .5s;
}

#mesContent {
  min-height: 200px;
  width: 60vw;
  display: flex;
}

#alertMsg {
  
}
#confirm{

}
@keyframes show-message {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
    -webkit-transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
  }
}